{
    "extends": ['eslint:recommended'],
    "parserOptions": {
        "ecmaVersion": 2017,
    },
    "env": {
        "mocha": true,
        "node": true,
        "es6": true
        },
    "rules": {
        "max-len": "off",
        "no-console": "off",
        "no-unused-vars": "warn",
    },
    "globals": {
        "web3": false,
        "assert": false,
        "artifacts": false
    }
}
